Coursera Capstone Project :- Battle of the neighborhoods

Importing the Libraries

In [5]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [6]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

URL of postal codes, boroughs and neighborhoods

In [7]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [8]:
html_data  = requests.get(url).text

Beautiful Soup function to extract data in form of table

In [9]:
soup = BeautifulSoup(html_data, 'html5lib')

Extracting information from the table in required format

In [10]:
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

Arranging the data in a dataframe

In [11]:
# print(table_contents)
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

Printing the required Dataframe

In [12]:
df

    PostalCode  ...                                       Neighborhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                          Regent Park, Harbourfront
3          M6A  ...                   Lawrence Manor, Lawrence Heights
4          M7A  ...                      Ontario Provincial Government
..         ...  ...                                                ...
98         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99         M4Y  ...                               Church and Wellesley
100        M7Y  ...                                     Enclave of M4L
101        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

Shape method for printing number of Rows

In [13]:
print("There are", df.shape[0], "location entries in Canada table")

There are 103 location entries in Canada table

Extracting the latitude & longitudanal co-ordinates from CSV file.

In [14]:
lat_lon = pd.read_csv('https://cocl.us/Geospatial_data')
lat_lon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Remaning columns in new dataframe before merging

In [15]:
lat_lon.rename(columns={'Postal Code':'PostalCode'},inplace=True)
lat_lon.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Merging 2 dataframes based on common 'Postal_Code' column

In [16]:
df2 = pd.merge(df,lat_lon, on='PostalCode')
df2.head()

  PostalCode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A      Queen's Park  ...  43.662301 -79.389494

[5 rows x 5 columns]

Displaying entire Dataframe with Latitude & Longitude

In [17]:
df2

    PostalCode                Borough  ...   Latitude  Longitude
0          M3A             North York  ...  43.753259 -79.329656
1          M4A             North York  ...  43.725882 -79.315572
2          M5A       Downtown Toronto  ...  43.654260 -79.360636
3          M6A             North York  ...  43.718518 -79.464763
4          M7A           Queen's Park  ...  43.662301 -79.389494
..         ...                    ...  ...        ...        ...
98         M8X              Etobicoke  ...  43.653654 -79.506944
99         M4Y       Downtown Toronto  ...  43.665860 -79.383160
100        M7Y  East Toronto Business  ...  43.662744 -79.321558
101        M8Y              Etobicoke  ...  43.636258 -79.498509
102        M8Z              Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]